<div class="main-container mat-app-background">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="main-app-name">Cognizant</h1>
    <div class="login-button">
      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img class="logout-icon" alt="logout-icon" [src]="(auth.user$ | async)?.picture" />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>brightness_5</mat-icon>
            <mat-slide-toggle [formControl]="toggleControl" style="margin-right: 1em"></mat-slide-toggle>
            <mat-icon style="margin-right: 0">bedtime</mat-icon>
          </button>
          <button mat-menu-item (click)="auth.logout({ returnTo: document.location.origin })">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-template #loggedOut>
        <button mat-icon-button (click)="auth.loginWithRedirect()">
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="menuTab.routerLink"
          *ngFor="let menuTab of menuTabs"
          (click)="sidenav.toggle()"
          >{{ menuTab.label }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card class="main-card">
        <mat-card-content class="main-card-content">
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
