<div class="patient-block">
  <div class="patient-context" *ngFor="let patient of patients">
    <mat-card class="example-card">
      <mat-card-title>{{ patient.name }}</mat-card-title>
      <mat-card-subtitle>Test</mat-card-subtitle>
      <mat-card-content>
        <p>Test content</p>
        <p>{{ patient.name }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="router.navigate(['patient', patient.id])">EDIT</button>
        <button mat-button (click)="delete.emit(patient.id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
